/* font-family: 'Fredericka the Great', cursive;
font-family: 'Lora', serif;
font-family: 'Monda', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif; */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 600;
}
h2,  h4, h5, h6 {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 1.5rem;
    color: #7fb3ac;
    margin: 0;
}
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
}
a {
    color: #29454D;
    text-decoration: none;
}
    
.wrapper {
    width: 80%;
    margin: 0 auto;
}
nav{
    border-top: 1px solid #29454D;
    border-bottom: 1px solid #29454D;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    
       }
nav li {
    display: inline-block;
    padding: 0.5rem 1rem; 
    font-size: 1.15rem; 
    font-family: 'Monda', sans-serif;
}
nav a{
    color: #29454D;
   
}
nav a:hover{
    color:#7fb3ac;
}
footer {
    margin: 0.5rem 0;
    padding: 1rem 0;
    border-top: 1px solid #29454D;
    color: #29454D
}
footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
footer li{
   
}
/* Style all font awesome icons 
.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  */
  /* Add a hover effect if you want 
  .fa:hover {
    opacity: 0.7;
  }*/
  /* Set a specific color for each brand */

/* Facebook 
.fa-facebook {
    background: #3B5998;
    color: white;
  } */
  
  /* Twitter 
  .fa-twitter-square {
    background: #55ACEE;
    color: white;
  }*/