/* font-family: 'Fredericka the Great', cursive;
font-family: 'Lora', serif;
font-family: 'Monda', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif; */
 
  html{
    --bg: #FCFCFC;
    --color-text: #29454D;
    --color-header: black;
    --color-text-active: #7fb3ac ;
    box-sizing: border-box;
  }

  .dark-mode {
    --bg: #1d1f20;
    --color-text: #777;
    --color-header: white;
    --color-text-active: #7fb3ac;
  }
  .dark-mode .fa-moon {
    display: none;
  }

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    transition: background-color 400ms cubic-bezier(0.995, -0.265, 0.855, 0.505);
	color: var(--color-text);
	background-color: var(--bg);
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 50px;
    color: var(--color-header);
}
h2,  h4, h5, h6 {
    font-family: 'Monda', sans-serif;
    font-weight: 400;
}
h2 {
    color: #7fb3ac;
    margin: 0;
}
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
}
h5 {
    padding: 0;
    margin: 0;
}
a {
    color: #29454D;
    text-decoration: none;
}
    
.wrapper {
    width: 80%;
    margin: 0 auto;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    
       }
nav li {
    display: inline-block;
    padding: 0.5rem 1rem; 
    font-size: 1.15rem; 
    font-family: 'Monda', sans-serif;
    color: #7fb3ac;
}
nav a{
    color: #29454D;
   
}
nav a:hover{
    color: #7fb3ac;
}
header {
    padding: 2rem 0;
    text-align: center;
}
header h3{
    padding: 0;
    margin: 0;
}
header h4{
    padding: 0;
    margin: 0;
    color: #7fb3ac; /*var(--accent-color); */
}
header h1{
    padding: 0;
    margin: 0 0 1rem 0;
}
footer {
    margin: 0.5rem 0;
    padding: 1rem 0;
    border-top: 1px solid #29454D;
    color: #29454D;
}
footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
footer li{
    display: inline-block;
    text-align: center;    
}

.footend {
    padding: 0;
    margin: 0;
    text-align: center;
}
/* Style all font awesome icons */
.fab {
    padding: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #29454D
  }
  .fas {
    padding: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none; 
    color: #29454D
  }
  
  .fab:hover {
    opacity: 0.7;
  }
  .fas:hover {
      opacity: 0.7;
  }

  /* Light/Dark Toggle */
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .leftside {
      margin: 0;
      padding: 0;
      flex-basis: 30%;
  }


  .col-sm-3 {
    position:relative;min-height:1px;padding-right:15px;padding-left:15px
  }
  .container-projects {
      text-align: center;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
